[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/NERD_tree"]
	path = bundle/NERD_tree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = http://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = http://github.com/sjbach/lusty.git
[submodule "bundle/Syntastic"]
	path = bundle/Syntastic
	url = http://github.com/vim-scripts/Syntastic.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/SearchComplete"]
	path = bundle/SearchComplete
	url = http://github.com/vim-scripts/SearchComplete.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/indent-object"]
	path = bundle/indent-object
	url = http://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = http://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/conque"]
	path = bundle/conque
	url = http://github.com/rson/vim-conque.git
[submodule "bundle/colorx"]
	path = bundle/colorx
	url = http://github.com/vim-scripts/ColorX.git
[submodule "bundle/cecutil"]
	path = bundle/cecutil
	url = http://github.com/vim-scripts/cecutil.git
[submodule "bundle/calendar"]
	path = bundle/calendar
	url = http://github.com/vim-scripts/calendar.vim--Matsumoto.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = http://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/ruby-vim"]
	path = bundle/ruby-vim
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/haml-vim"]
	path = bundle/haml-vim
	url = http://github.com/tpope/vim-haml.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/colorizer"]
	path = bundle/colorizer
	url = https://github.com/lilydjwg/colorizer.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/CSSMinister"]
	path = bundle/CSSMinister
	url = git://github.com/vim-scripts/CSSMinister.git
