*.swp
*.*~
tags
tags_exclude
.DS_Store
tmp/*
!tmp/.gitignore
GetLatest/*.dist
GetLatest/Installed
GetLatest/*.gz
.netrwhist
plugged

# Files created by antigen
*.zwc
*.antigen-compat

# some extra stuff for work
.vimrc_work_extras

# Ignore the compiled packer configuration
nvim/plugin/packer_compiled.lua
