[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/NERD_tree"]
	path = bundle/NERD_tree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = http://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = http://github.com/sjbach/lusty.git
[submodule "bundle/Syntastic"]
	path = bundle/Syntastic
	url = http://github.com/vim-scripts/Syntastic.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/SearchComplete"]
	path = bundle/SearchComplete
	url = http://github.com/vim-scripts/SearchComplete.git
